<app-toolbar></app-toolbar>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeXl="2" sizeLg="2" sizeMd="3" sizeSm="4" sizeXs="6">
        <ion-card routerLink="/main/pacientes">
          <ion-card-content>
            <ion-icon name="person-outline" ></ion-icon>
            <h2>Padres y/o Apoderados</h2>
           <ion-text>Ver registrados y agregar nuevos</ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col sizeXl="2" sizeLg="2" sizeMd="3" sizeSm="4" sizeXs="6">
        <ion-card routerLink="/main/agenda">
          <ion-card-content>
            <ion-icon name="calendar-outline"></ion-icon>
           <h2>Agenda de vacunación</h2>
           <ion-text>Ver registrados y agregar nuevos</ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
 

</ion-content>
