<app-toolbar></app-toolbar>

<ion-content class="screen-paciente">
  <h6>Inicio > Esquema de Vacunación > <b> Registro Vacuna</b></h6>
  <h1>Registro de vacunación</h1>

  <ion-grid>
    <ion-row  class="col-center">
      <ion-col sizeXl="6" sizeLg="7" sizeMd="7" sizeSm="8" sizeXs="12">
      <form [formGroup]="vacunacionForm" (submit)="onSubmit()">
        <app-input label="Lote"  formControlName="lote" [focused]="true"></app-input>
        <app-input label="Fecha Cita" formControlName="fechaCita" type="date"></app-input>
        <app-input label="Lugar" formControlName="lugar" [focused]="true"></app-input>
        <app-input label="Reaccion" formControlName="reaccion" [focused]="true"></app-input>

        <ion-button shape="round" expand="full" type="submit" class="but">Guardar vacunación</ion-button>
      </form>


      </ion-col>
      </ion-row>

  </ion-grid>



</ion-content>
