.form-field{
    position:relative;
    margin-bottom: 1rem;
    height: 50px;
    label{
        position: absolute;
        left:1rem;
        top:1rem;
        padding: 0 0.25rem;
        color:#939fab;
        font-size: 1rem;
        transition:0.3s;
    }
    .label-invalid{
        color:rgb(252, 97, 97);
    }
    select{
        position:absolute;
        top:0;
        left:0;
        height: 100%;
        width: 100%;
        font-size: 17px;
        font-weight: 600;
        border:1px solid #e7ebee;
        border-radius: 10px;
        outline: none;
        padding: 0.5rem 1rem;
        background:none;
        z-index: 1;
        color:#171c25;
  
    }
    .input-invalid{
        
        border:2px solid rgb(252, 97, 97);
        
    }  
    .label-focused{
        top:-.4rem;
        left: .8rem;
        font-size: 14px;
        font-weight: 500;
        background-color: #fff;
        z-index:10;
    }
}
