<app-toolbar></app-toolbar>

<ion-content class="screen-paciente">
  <ion-col size="6">
    <h6>Inicio > <b> Esquema de Vacunación</b></h6>
    <h1>Esquema de Vacunación Regular</h1>
  </ion-col>
<h6 class="ion-no-margin">Completando este esquema provienes mas de 26 enfermedades</h6>

<ion-card>
  <ion-item lines="none">
    <ion-icon name="person-outline"></ion-icon>
    <div class="f-18 b "> &nbsp;Datos del vacunado</div>
    <!-- <ion-label>ion-item in a card, icon left, button right</ion-label> -->
  <!--   <ion-button fill="clear" slot="end" color="dark">
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-button> -->
  </ion-item>
    <ion-row class="ion-text-center">
      <ion-col size="4">
        <div class="f-13">N DNI</div>
        <ion-text class="f-10 b">0402774</ion-text>
      </ion-col>
      <ion-col size="4">
        <div class="f-13">Nombres y Apellidos</div>
        <ion-text class="f-10 b">Albert Milan Caro</ion-text>
      </ion-col>
      <ion-col size="4" >
        <div class="f-13">Edad</div>
        <ion-text class="f-10 b">10 Meses</ion-text>
      </ion-col>
    </ion-row>

</ion-card>
<ion-card>
  <ion-header>
    <ion-item>
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <div class="f-18 b"> &nbsp;Recien Nacido</div>
      <!-- <ion-label>ion-item in a card, icon left, button right</ion-label> -->
    <!--   <ion-button fill="clear" slot="end" color="dark">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button> -->
      <ion-col slot="end" size="6" class="ion-text-right">
        <div class="f-13">16-12-20</div>
        <ion-text class="f-10">Fecha vacunacion</ion-text>
      </ion-col>

    </ion-item>
    <ion-item>
      <ion-icon name="checkmark-circle"></ion-icon>
      <ion-col>
       <div class="f-15">HVB(RN)  <ion-icon name="information-circle-outline"></ion-icon> </div> 
        <ion-text class="f-10">Fecha vacunacion</ion-text>
      </ion-col>
      
    </ion-item>
  </ion-header>
</ion-card>
</ion-content>
